{% extends "base.html"  %}
{% block content %}
    {% if session['logged_in'] %}
    You're logged in already!
    {% else %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}    
    <form action="/login" method="POST">
        <div class="login">
            <div class="login-screen">
                <div class="login-form-outer">
                    <div class="login-form-inner">
                        <img class="login-logo" src="https://mcleod-static-assets.s3.amazonaws.com/python.jpg">
                        <h1>Log in to Pwitter</h1>
                        <div class="control-group">
                            <input type="text" class="login-field" required="required" value="" name="txt-username" placeholder="Username">
                            <label class="" for="login-name"></label>
                        </div>
                        <div class="control-group">
                            <input type="password" class="login-field" required="required" value="" name="txt-password" placeholder="Password">
                            <label class="" for="login-pass"></label>
                        </div>
                        <button name="button" type="submit">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
{% endblock %}
